*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 500vh;
    margin: 0;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 60px 3% ;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}

.navigation.sticky{
    padding: 15px 3%;
    background: #feb931;
    border-bottom: 1px solid #fff030;
}

.navigation.sticky ul li a{
    color: black;
}

.navigation.sticky .logopic{
    height: 40px;
}

.logopic{
    height: 70px;
    transition: 0.6s;
}

/*.navigation .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}*/

.navigation ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li{
    position: relative;
    list-style: none;
    font-size: 15px;
}

.navigation ul li a{
    position: relative;
    margin: 0 40px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.6s;
}

.navigation ul li a:hover{
    color: #fff030;
    font-size: 17px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    position: relative;
    margin-top: 100vh;
    width: 100%;
    height: 150vh;
    background-color: #feb931;
}

@media(max-width: 1800px){
    .works{
        height: 70vmax;
    }
}

@media(max-width: 800px){
    .works{
        height: 200vmax;
    }
}

@media(max-width: 750px){
    .works{
        height: 190vmax;
    }
}

@media(max-width: 700px){
    .works{
        height: 180vmax;
    }
}

@media(max-width: 650px){
    .works{
        height: 170vmax;
    }
}

@media(max-width: 600px){
    .works{
        height: 550vmax;
    }
}

@media(max-width: 550px){
    .works{
        height: 510vmax;
    }
}

@media(max-width: 500px){
    .works{
        height: 460vmax;
    }
}

@media(max-width: 450px){
    .works{
        height: 420vmax;
    }
}

@media(max-width: 400px){
    .works{
        height: 380vmax;
    }
}

@media(max-width: 350px){
    .works{
        height: 340vmax;
    }
}

@media(max-width: 300px){
    .works{
        height: 300vmax;
    }
}

@media(max-width: 250px){
    .works{
        height: 260vmax;
    }
}

.columncont{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50px;
}

.cardcolumn{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.cardcolumn > .wcards{
    margin-top: 10px;
    vertical-align: middle;
}

.wcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 15%;
    width: 100%;
    background-color: #373535;
    border-radius: 15px;
    justify-content: center;
}

.workreel{
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
}

.vcont{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.vcont > a{
    color: #feb931;
    text-decoration: none;
    font-size: 1vw;
    transition: 0.6s;
}

@media(max-width: 800px){
    .vcont > a{
        font-size: 2vw;
    }
}

@media(max-width: 800px){
    .vcont > a{
        font-size: 4vw;
    }
}

.vcont > a:hover{
    color: #F8981D;
}

@media(max-width: 800px){
    .cardcolumn{
        flex: 50%;
        max-width: 50%;
    }
}

@media(max-width: 600px){
    .cardcolumn{
        flex: 100%;
        max-width: 100%;
    }
}

.about{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
}

.aboutcolumn{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
}

.infocolumns{
    flex: 33.33%;
    max-width: 33.33%;
}

.rigtcolumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
    margin: auto;
}

.leftcolumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #feb931;
    margin: auto;
}

.profpic{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40vh;
    border-radius: 10px;
    background-color: #F8981D;
}

.pic{
    width: 100%;
    border-radius: 100%;
}

.info{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.rates{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #feb931;
}

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
}

.video-bg{
    width: 100%;
    height: 100vh;
}

.fondovid{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.titulo{
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 50vh;
    position: fixed;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 2px darkslategray;
}

.tspan{
    font-size: 10vh;
}

.proinfo{
    text-align: center;
    font-size: 3vw;
}

.name{
    font-size: 10vh;
    color: #feb931;
    text-shadow: 3px 3px black;
    transition: 0.6s;
}

*::selection{
    background: #fff030;
    color: black;
    text-shadow: none;
}

h1{
    transition: 0.6s;
}

h1.fade{
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
}

h1.fade .name{
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
}

@media only screen and (max-width: 1821px){
    .tspan{
        font-size: 9vh;
    }
    .name{
        font-size: 9vh;
    }
    .titulo{
        margin-top: 16%;
    }
}

@media only screen and (max-width: 1640px){
    .tspan{
        font-size: 8vh;
    }
    .name{
        font-size: 8vh;
    }
    .titulo{
        margin-top: 17%;
    }
}

@media only screen and (max-width: 1460px){
    .tspan{
        font-size: 7vh;
    }
    .name{
        font-size: 7vh;
    }
    .titulo{
        margin-top: 19%;
    }
}

@media only screen and (max-width: 1279px){
    .tspan{
        font-size: 6vh;
    }
    .name{
        font-size: 6vh;
    }
    .titulo{
        margin-top: 24%;
    }
}

@media only screen and (max-width: 1099px){
    .tspan{
        font-size: 5vh;
    }
    .name{
        font-size: 5vh;
    }
    .titulo{
        margin-top: 28%;
    }
}

@media only screen and (max-width: 919px){
    .tspan{
        font-size: 4.5vh;
    }
    .name{
        font-size: 4.5vh;
    }
    .titulo{
        margin-top: 28%;
    }
}

@media only screen and (max-width: 828px){
    .tspan{
        font-size: 4vh;
    }
    .name{
        font-size: 4vh;
    }
    .titulo{
        margin-top: 40%;
    }
}

@media only screen and (max-width: 738px){
    .tspan{
        font-size: 5vh;
    }
    .name{
        font-size: 5vh;
    }
    .titulo{
        margin-top: 45%;
    }
}

@media only screen and (max-width: 583px){
    .tspan{
        font-size: 4.5vh;
    }
    .name{
        font-size: 4.5vh;
    }
    .titulo{
        margin-top: 45%;
    }
}

@media only screen and (max-width: 525px){
    .tspan{
        font-size: 5.5vh;
    }
    .name{
        font-size: 5.5vh;
    }
    .titulo{
        margin-top: 45%;
    }
}

@media only screen and (max-width: 465px){
    .tspann{
        font-size: 5vh;
    }
    .name{
        font-size: 5vh;
    }
    .titulo{
        margin-top: 50%;
    }
}

@media only screen and (max-width: 423px){
    .tspan{
        font-size: 4.5vh;
    }
    .name{
        font-size: 4.5vh;
    }
    .titulo{
        margin-top: 55%;
    }
}

@media only screen and (max-width: 380px){
    .tspan{
        font-size: 4vh;
    }
    .name{
        font-size: 4vh;
    }
    .titulo{
        margin-top: 65%;
    }
}

@media only screen and (max-width: 337px){
    .tspan{
        font-size: 3.5vh;
    }
    .name{
        font-size: 3.5vh;
    }
    .titulo{
        margin-top: 70%;
    }
}

@media only screen and (max-width: 295px){
    .tspan{
        font-size: 3vh;
    }
    .name{
        font-size: 3vh;
    }
    .titulo{
        margin-top: 80%;
    }
}

@media only screen and (max-width: 820px){
    .navigation ul li a{
        display: none;
    }
}